.ingredients {
    max-width: 600px;
    max-height: 912px;
}

.lists {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
}

.card_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    position: relative;
    max-width: 272px;
    cursor: pointer;
}

.card_price_box {
    display: flex;
}

.picture {
    width: 240px;
    height: 120px;

}

.box_with_ingredients {
    max-height: 686px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.box_with_ingredients::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.box_with_ingredients::-webkit-scrollbar-thumb {
    background-color: #8585AD;

}
.liks_style {
    text-decoration: none;
    color:#8585AD
}