.header {
  display: flex;
  margin-left: 320px;
  margin-right: 320px;
  max-width: 1240px;
  justify-content: space-between;
}

.logo_box {
  align-self: center;
  align-items: center;

}

.menu {
  display: flex;
}

.menu_link {
  display: flex;
  cursor: pointer;
}

@media screen and (max-width: 1880px) {
  .header {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.link_style {
  text-decoration:none;
  color:#8585AD
}
.link_style_active {
  color: white;
  text-decoration:none;
}
