.picture {
    align-self: center;
    max-width: 480px;
    min-height: 240px;
}

.name {
    align-self: center;
}

.сomposition {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-self: center;
}

.сomposition_list_box {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
}