.ingredient-details__picture {
    align-self: center;
    max-width: 480px;
    min-height:240px;
}
.ingredient-details__name{
    align-self: center;
}
.ingredient-details__сomposition {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-self: center;
}
.ingredient-details__сomposition-list-box {
width: 125px;
display: flex;
flex-direction: column;
align-items: center;
}
