.constructor {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.open_elements {
    display: grid;
    gap: 16px;
    max-height: 464px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0;
}

.lock_elements {
    display: grid;
    margin-left: 34px;
    margin-right: 8px;
}

.open_elements::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.open_elements::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.price_container {
    display: flex;
    align-self: flex-end;
}

.price_text {
    display: flex;
    align-items: center;
}

.open_elements_box {
    display: flex;
    align-items: center;
    gap: 10px;
}