.main {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color:black;
}
.main__box {
    display: flex;
    justify-content: center;
    margin-top:120px;
    gap: 60px;
}
.main__box_history {
    display: flex;
    justify-content: center;
    margin-top:40px;
    gap: 60px;
}
.menu__box {
    display:flex;
    flex-direction: column;
   width: 320px;
}
.menu__lists {
   list-style: none;
   padding: 0;
}
.menu__list {
min-height: 64px;
display: flex;
align-items: center;
cursor: pointer;
color:#8585AD;
}
.inputs__box {
    display: flex;
    flex-direction: column;
    gap:24px;
}
.menu__list_active {
    opacity: 1;
}
.button__box {
    display: flex;
    justify-content: space-between;
}
.card__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-height: 750px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 0;
}

.card__list::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.card__list::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}
.links__profile_menu {
    text-decoration:none;
  color:#8585AD;
}
.links__profile_menu_active {
    opacity: 1;
    color: white;
    text-decoration:none;
}

